DATABASE_URL=
ZAPI_INSTANCE_ID=
ZAPI_TOKEN=
ZAPI_CLIENT_TOKEN=
# openssl rand -hex 24
WEBHOOK_SECRET=
DASHBOARD_USER=geniai
DASHBOARD_PASSWORD=
CEREBRO_URL=https://geniai-cerebro.vercel.app
# o mesmo valor do cerebro
AGENTE_TOKEN=
DEBOUNCE_MS=6000
